doctype html
html(lang="en")
  head
    title= pageTitle
    meta(http-equiv="refresh" content="2")
  body
    div The hit count is: #{span= hit_count}
    small: i The random number is: #{span= random_number}